<div class="page-heading about-heading header-text" style="background-image: url(assets/images/heading-6-1920x500.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>Lorem ipsum dolor sit amet</h4>
                    <h2>Jobs</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="products">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="contact-form">
                    <form action="#">
                        <h5 style="margin-bottom: 15px">Type</h5>

                        <div>
                            <label>
                                <input type="checkbox">

                                <small>Contract (5)</small>
                            </label>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox">

                                <small>Full time (5)</small>
                            </label>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox">

                                <small>Internship (5)</small>
                            </label>
                        </div>

                        <br>

                        <h5 style="margin-bottom: 15px">Category</h5>

                        <div>
                            <label>
                                <input type="checkbox">

                                <small>Accounting / Finance / Insurance Jobs (5)</small>
                            </label>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox">

                                <small>Accounting / Finance / Insurance Jobs (5)</small>
                            </label>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox">

                                <small>Accounting / Finance / Insurance Jobs (5)</small>
                            </label>
                        </div>

                        <br>

                        <h5 style="margin-bottom: 15px">Career levels</h5>

                        <div>
                            <label>
                                <input type="checkbox">

                                <small>Entry Level (5)</small>
                            </label>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox">

                                <small>Entry Level (5)</small>
                            </label>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox">

                                <small>Entry Level (5)</small>
                            </label>
                        </div>

                        <br>

                        <h5 style="margin-bottom: 15px">Education levels</h5>

                        <div>
                            <label>
                                <input type="checkbox">

                                <small>Associate Degree (5)</small>
                            </label>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox">

                                <small>Associate Degree (5)</small>
                            </label>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox">

                                <small>Associate Degree (5)</small>
                            </label>
                        </div>

                        <br>


                        <h5 style="margin-bottom: 15px">Years of experience</h5>

                        <div>
                            <label>
                                <input type="checkbox">

                                <small>&lt; 1 (5)</small>
                            </label>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox">

                                <small>&lt; 1 (5)</small>
                            </label>
                        </div>

                        <div>
                            <label>
                                <input type="checkbox">

                                <small>&lt; 1 (5)</small>
                            </label>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-item">
                            <a asp-controller="JobDetail" asp-action="Index" ><img src="assets/images/product-1-370x270.jpg" alt=""></a>
                            <div class="down-content">
                                <a asp-controller="JobDetail" asp-action="Index"><h4 style="color: red">Lorem ipsum dolor sit amet</h4></a>

                                <h6>$60 000</h6>

                                <h4><small><i class="fa fa-briefcase"></i> Medical / Health Jobs <br> <strong><i class="fa fa-building"></i> BMI Kings Park Hospital</strong></small></h4>

                                <small>
                                    <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Type"><i class="fa fa-file"></i> Contract</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Location"><i class="fa fa-map-marker"></i> London</strong>
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="product-item">
                            <a href="job-details.html"><img src="assets/images/product-2-370x270.jpg" alt=""></a>
                            <div class="down-content">
                                <a href="job-details.html"><h4>Lorem ipsum dolor sit amet</h4></a>

                                <h6>$60 000</h6>

                                <h4><small><i class="fa fa-briefcase"></i> Medical / Health Jobs <br> <strong><i class="fa fa-building"></i> BMI Kings Park Hospital</strong></small></h4>

                                <small>
                                    <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Type"><i class="fa fa-file"></i> Contract</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Location"><i class="fa fa-map-marker"></i> London</strong>
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="product-item">
                            <a href="job-details.html"><img src="assets/images/product-3-370x270.jpg" alt=""></a>
                            <div class="down-content">
                                <a href="job-details.html"><h4>Lorem ipsum dolor sit amet</h4></a>

                                <h6>$60 000</h6>

                                <h4><small><i class="fa fa-briefcase"></i> Medical / Health Jobs <br> <strong><i class="fa fa-building"></i> BMI Kings Park Hospital</strong></small></h4>

                                <small>
                                    <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Type"><i class="fa fa-file"></i> Contract</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Location"><i class="fa fa-map-marker"></i> London</strong>
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="product-item">
                            <a href="job-details.html"><img src="assets/images/product-4-370x270.jpg" alt=""></a>
                            <div class="down-content">
                                <a href="job-details.html"><h4>Lorem ipsum dolor sit amet</h4></a>

                                <h6>$60 000</h6>

                                <h4><small><i class="fa fa-briefcase"></i> Medical / Health Jobs <br> <strong><i class="fa fa-building"></i> BMI Kings Park Hospital</strong></small></h4>

                                <small>
                                    <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Type"><i class="fa fa-file"></i> Contract</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Location"><i class="fa fa-map-marker"></i> London</strong>
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="product-item">
                            <a href="job-details.html"><img src="assets/images/product-5-370x270.jpg" alt=""></a>
                            <div class="down-content">
                                <a href="job-details.html"><h4>Lorem ipsum dolor sit amet</h4></a>

                                <h6>$60 000</h6>

                                <h4><small><i class="fa fa-briefcase"></i> Medical / Health Jobs <br> <strong><i class="fa fa-building"></i> BMI Kings Park Hospital</strong></small></h4>

                                <small>
                                    <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Type"><i class="fa fa-file"></i> Contract</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Location"><i class="fa fa-map-marker"></i> London</strong>
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="product-item">
                            <a href="job-details.html"><img src="assets/images/product-6-370x270.jpg" alt=""></a>
                            <div class="down-content">
                                <a href="job-details.html"><h4>Lorem ipsum dolor sit amet</h4></a>

                                <h6>$60 000</h6>

                                <h4><small><i class="fa fa-briefcase"></i> Medical / Health Jobs <br> <strong><i class="fa fa-building"></i> BMI Kings Park Hospital</strong></small></h4>

                                <small>
                                    <strong title="Posted on"><i class="fa fa-calendar"></i> 15-06-2020</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Type"><i class="fa fa-file"></i> Contract</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <strong title="Location"><i class="fa fa-map-marker"></i> London</strong>
                                </small>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12">
                        <ul class="pages">
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>